### dc0p0sa0

segment-routing
 srv6
  encapsulation
   source-address fc00:0:1000::1
  !
  locators
   locator MAIN
    micro-segment behavior unode psp-usd
    prefix fc00:0:1000::/48
   !
  !
 !
 traffic-eng
  segment-lists
   srv6
    sid-format usid-f3216
   !
   segment-list dc1-sa0-0
    srv6
     index 10 sid fc00:0:e00b::
     index 15 sid fc00:0:1002::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-1
    srv6
     index 10 sid fc00:0:e009::
     index 15 sid fc00:0:1002::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-2
    srv6
     index 10 sid fc00:0:e00c::
     index 15 sid fc00:0:1002::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-3
    srv6
     index 10 sid fc00:0:e00d::
     index 15 sid fc00:0:1002::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa1-0
    srv6
     index 10 sid fc00:0:e002::
     index 15 sid fc00:0:1003::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-1
    srv6
     index 10 sid fc00:0:e004::
     index 15 sid fc00:0:1003::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-2
    srv6
     index 10 sid fc00:0:e006::
     index 15 sid fc00:0:1003::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc1-sa0-3
    srv6
     index 10 sid fc00:0:e008::
     index 15 sid fc00:0:1003::
     index 20 sid fc00:0:e000::
    !
   !
  !
  policy training-b000
   srv6
    binding-sid dynamic behavior ub6-psp-usd-insert-reduced locator MAIN
   !
   color 10 end-point ipv6 fc00:0:1002::1
   candidate-paths
    preference 100
     explicit segment-list dc1-sa0-0
      weight 10
     !
     explicit segment-list dc1-sa0-1
      weight 10
     !
     explicit segment-list dc1-sa0-2
      weight 10
     !
     explicit segment-list dc1-sa1-0
      weight 10
     !
     explicit segment-list dc1-sa1-1
      weight 10
     !
     explicit segment-list dc1-sa1-2
      weight 10
     !
    !
   !
  !
  policy training-d000
   srv6
    binding-sid dynamic behavior ub6-psp-usd-insert-reduced locator MAIN
   !
   color 20 end-point ipv6 fc00:0:1003::1
   candidate-paths
    preference 100
     explicit segment-list dc1-sa0-3
      weight 10
     !
     explicit segment-list dc1-sa1-3
      weight 10
     !
    !
   !
  !
 !
!

### dc1p0sa0

segment-routing
 traffic-eng
  segment-lists
   srv6
    sid-format usid-f3216
   !
   segment-list dc0-sa0-0
    srv6
     index 10 sid fc00:0:e009::
     index 15 sid fc00:0:1000::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa0-1
    srv6
     index 10 sid fc00:0:e00b::
     index 15 sid fc00:0:1000::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa0-2
    srv6
     index 10 sid fc00:0:e00f::
     index 15 sid fc00:0:1000::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa0-3
    srv6
     index 10 sid fc00:0:e00d::
     index 15 sid fc00:0:1000::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa1-0
    srv6
     index 10 sid fc00:0:e001::
     index 15 sid fc00:0:1001::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa1-1
    srv6
     index 10 sid fc00:0:e003::
     index 15 sid fc00:0:1001::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa1-2
    srv6
     index 10 sid fc00:0:e005::
     index 15 sid fc00:0:1001::
     index 20 sid fc00:0:e000::
    !
   !
   segment-list dc0-sa1-3
    srv6
     index 10 sid fc00:0:e010::
     index 15 sid fc00:0:1001::
     index 20 sid fc00:0:e000::
    !
   !
  !